{% extends "base.html" %}

{% block content %}
<h3>Student Registration</h3>
<form method="POST">
    <div class="mb-3">
        <input type="text" name="name" placeholder="Full Name" class="form-control" required>
    </div>
    <div class="mb-3">
        <input type="email" name="email" placeholder="Email" class="form-control" required>
    </div>
    <div class="mb-3">
        <input type="password" name="password" placeholder="Password" class="form-control" required>
    </div>
    <div class="mb-3">
        <input type="text" name="contact" placeholder="Contact Number" class="form-control" required>
    </div>
    <button class="btn btn-success">Register</button>
</form>
{% endblock %}
