{% extends "base.html" %}

{% block content %}
<h2>Create Placement Drive</h2>
<form method="POST">
    <div class="mb-3">
        <input type="text" name="job_title" placeholder="Job Title" class="form-control" required>
    </div>
    <div class="mb-3">
        <textarea name="job_description" placeholder="Description" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <input type="text" name="eligibility" placeholder="Eligibility" class="form-control">
    </div>
    <div class="mb-3">
        <input type="date" name="deadline" class="form-control">
    </div>
    <button class="btn btn-success">Create</button>
</form>
{% endblock %}
